.faq-header{
        background-color:#150E28;
        position:relative;
        width: 100%;
         height:110vh;
}

@media screen and (max-width: 768px){
    .faq-text{
        text-align: center;
    }

    .faq-header{
        background-color:#150E28;
        position:relative;
        width: 100%;
         height:130vh;
}
}
